main{
    background-color: aliceblue;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px 32px;
}

main a{
    text-decoration: none;
}

.login h1{
    margin-top: 32px;
    margin-bottom: 16px;
}

.right-login, 
.left-login{
    height: 100vh;
}

.cad{
    height: 70vh;
}

.input-login{
    height: 48px;
}

.input-cad{
    height: 40px;
    width: 256px;
    margin-left: 16px;
    margin-right: 16px;
}

.input-login::placeholder{
    font-size: 12pt;
}

#reset-pass{
    margin-top:16px;
    margin-bottom: 16px;
}

#btn-login{
    width: 100%;
    margin-bottom: 16px;
}

#btn-cad{
    width: 25%;
    margin-bottom: 16px;
}

.label-login,
.label-senha{
    font-size: 14pt;
    margin-bottom: 8px;
}

.termos{
    font-size: 10pt;
    padding-right: 80px;
    padding-left: 80px; 
}

.input-cad{
    padding-left: 16px;
}

.options{
    padding-top: 15vh;
}

.op{
    border-left: 1px solid;
}

.op a{
    color: black;
}

.op:first-child{
    border-left: 0px;
}
