main{
    padding: 0 !important;
    background-color: aliceblue;
}

main a{
    text-decoration: none;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btn-primary{
    background-color: #ff6701 !important;
    border: none !important;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px 32px;
}

.login h1{
    margin-top: 32px;
    margin-bottom: 16px;
}

.right-login, 
.left-login{
    height: 100vh;
}

.cad{
    height: 70vh;
}

.input-login{
    height: 48px;
}

.input-cad{
    height: 40px;
    width: 256px;
    margin-left: 16px;
    margin-right: 16px;
}

.input-login::placeholder{
    font-size: 12pt;
}

#reset-pass{
    margin-top:16px;
    margin-bottom: 16px;
}

#btn-login{
    width: 100%;
    margin-bottom: 16px;
}

#btn-cad{
    width: 25%;
    margin-bottom: 16px;
}

.label-login,
.label-senha{
    font-size: 14pt;
    margin-bottom: 8px;
}

.termos{
    font-size: 10pt;
    padding-right: 80px;
    padding-left: 80px; 
}

.input-cad{
    padding-left: 16px;
}

.menu{
    background-color: black;
    height: 15vh;
}

.options .container-fluid{
    height: 5vh;
}

.options{
    background-color: #ff6701;
    padding-top: 15vh;
}

.op{
    border-left: 1px solid white;
}

.op a{
    color: white;
}

.op:first-child{
    border-left: 0px;
}

.img-ad{
    width: 256px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.navbar-brand a{
    color: white;
}

.navbar-brand a img{
    margin-right: 8px;
}

.busca input{
    width: 600px;
    border-radius: 50px;
}

.sec-promo{
    background-color: #f5f4f4;
}

.sec-promo h2{
    padding-top: 40px;
    margin-bottom: 16px;
    padding-left: 64px;
}

.sec-promo-ad{
    background-color: #f5f4f4;
}

.sec-promo-ad h2{
    padding-top: 40px;
    margin-bottom: 16px;
    padding-left: 32px;
}

.sec-dep{
    background-color: #f5f4f4;
    padding-top: 32px;
    padding-bottom: 16px;
}

.icon{
    font-size: 12pt;
    width: 256px;
    height: 192px;
    padding-top: 48px;
    padding-bottom: 8px;
    border-radius: 15%;
    background-color: white;
    cursor: pointer;
}

.icon:hover{
    box-shadow: 2px 2px 10px rgb(170, 170, 170);
}

.icon p{
    font-size: 14pt;
    font-weight: bold;
}

.sec-promo .cards{
    padding-left: 64px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.sec-promo-ad .cards{
    padding-left: 32px;
    padding-bottom: 16px;
}

.sec-promo .card{
    width: 280px !important;
    margin-right: 16px;
    margin-bottom: 32px;
}

.sec-promo-ad .card{
    width: 236px !important;
    margin-right: 16px;
    margin-bottom: 32px;
}

.card:hover{
    box-shadow: 2px 2px 10px rgb(170, 170, 170);
}

.sec-promo .stars img{
    cursor: pointer;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.sec-promo-ad .stars img:last-child{
    margin-right: 0;
}

.sec-promo-ad .stars img{
    cursor: pointer;
    margin-right: 8px;
    width: 14px;
    height: 14px;
}

.sec-promo .stars img:last-child{
    margin-right: 0;
}

.card-text p{
    font-size: 10pt;
    margin-top: 4px;
    margin-bottom: 4px;
}

.card-text p:first-child{
    margin-top: 16px;
}

.card-text p:last-child{
    margin-bottom: 16px;
}

.card-text p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
    color: #ff6701;
}

.ads img{
    margin-bottom: 64px;
}

.sec-offers .card:nth-child(2){
    margin-left: 64px;
    margin-right: 64px;
}