main{
    padding: 0 !important;
    background-color: aliceblue;
}

main a{
    text-decoration: none;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sec-info{
    height: auto;
}

.sec-info ul li{
    list-style: circle;
}

.btn-primary{
    background-color: #ff6701 !important;
    border: none !important;
}

.btn-outline-primary{
    border: 1px solid #ff6701 !important;
    color: #ff6701 !important;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px 32px;
}

.login h1{
    margin-top: 32px;
    margin-bottom: 16px;
}

.right-login, 
.left-login{
    height: 100vh;
}

.cad{
    height: 70vh;
}

.input-login{
    height: 48px;
}

.input-cad{
    height: 40px;
    width: 256px;
    margin-left: 16px;
    margin-right: 16px;
}

.input-login::placeholder{
    font-size: 12pt;
}

#reset-pass{
    margin-top:16px;
    margin-bottom: 16px;
}

#btn-login{
    width: 100%;
    margin-bottom: 16px;
}

#btn-cad{
    width: 25%;
    margin-bottom: 16px;
}

.label-login,
.label-senha{
    font-size: 14pt;
    margin-bottom: 8px;
}

.termos{
    font-size: 10pt;
    padding-right: 80px;
    padding-left: 80px; 
}

.input-cad{
    padding-left: 16px;
}

.menu{
    background-color: black;
    height: 15vh;
}

.options .container-fluid{
    height: 5vh;
}

.options{
    background-color: #ff6701;
    padding-top: 15vh;
}

.op{
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
}

.op:last-child{
    border-right: 0px solid white;
}

.op a{
    color: white;
}

.img-ad{
    width: 256px;
    margin-left: auto;
    margin-right: auto;
}

.arrows .carousel-control-prev,
.arrows .carousel-control-next{
    position: relative !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.menu-mobile{
    display: none;
    width: 40px;
    height: 32px;
}

.menu-border{
    margin-bottom: 8px;
    width: 100%;
    height: 4px;
    background-color: white;
}

.navbar-brand{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-right: 0 !important;
}

.navbar-brand a{
    color: white;
}

.navbar-brand a img{
    margin-right: 8px;
}

.busca input{
    width: 600px;
    border-radius: 8px;
}

.sec-promo{
    background-color: #f5f4f4;
}

.sec-promo-title{
    color: white;
    height: 10vh;
    background-color: #ff6701;
}

.sec-promo-body div{
    font-size: 16pt;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}

.sec-promo-body span{
    font-size: 16pt;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}

.sec-promo h2{
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 32px;
    margin-bottom: 16px;
    padding-left: 64px;
}

.sec-promo-ad{
    background-color: #f5f4f4;
}

.sec-promo-ad h2{
    font-size: 20pt;
    padding-top: 32px;
    margin-bottom: 16px;
    padding-left: 64px;
    text-transform: uppercase;
    font-weight: bold;
}

.sec-dep{
    background-color: #f5f4f4;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.sec-dep h2{
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 32px;
    padding-bottom: 16px;
}

.icon{
    font-size: 12pt;
    width: 256px;
    height: 192px;
    padding-top: 48px;
    padding-bottom: 8px;
    border-radius: 15%;
    background-color: white;
    cursor: pointer;
}

.icon:hover{
    box-shadow: 2px 2px 10px rgb(170, 170, 170);
}

.icon p{
    font-size: 14pt;
    font-weight: bold;
}

.sec-promo .cards{
    padding-left: 64px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.sec-promo-ad .cards{
    padding-left: 64px;
    padding-bottom: 16px;
}

.sec-promo .card{
    width: 280px !important;
    margin-right: 16px;
    margin-bottom: 32px;
}

.sec-promo-ad .card{
    width: 264px !important;
    margin-right: 16px;
    margin-bottom: 32px;
}

.card:hover{
    box-shadow: 2px 2px 10px rgb(170, 170, 170);
}

.sec-promo .stars img{
    cursor: pointer;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.sec-promo-ad .stars img:last-child{
    margin-right: 0;
}

.sec-promo-ad .stars img{
    cursor: pointer;
    margin-right: 8px;
    width: 14px;
    height: 14px;
}

.sec-promo .stars img:last-child{
    margin-right: 0;
}

.card-text p{
    font-size: 10pt;
    margin-top: 4px;
    margin-bottom: 4px;
}

.card-text p:first-child{
    margin-top: 16px;
}

.card-text p:last-child{
    margin-bottom: 16px;
}

.card-text p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
    color: #ff6701;
}

.ads img{
    margin-bottom: 64px;
}

.sec-offers{
    padding-top: 32px;
    background-color: #f5f4f4;
}

.sec-offers h2{
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 64px;
}

.sec-offers .card:nth-child(2){
    margin-left: 64px;
    margin-right: 64px;
}

.carousel-control-prev,
.carousel-control-next{
    width: auto !important;
}

.sec-ad{
    background-color: #f5f4f4;
}

.sec-links{
    background-color: #f5f4f4;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sec-links-inner{
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 16px;
}

.sec-links a{
    color: white;
    background-color: #cccccc;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 32px;
}

.sec-links a:last-child{
    margin-right: 0;
}

footer{
    background-color: black;
}

.footer-row{
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-row a{
    color: white;
    font-size: 10pt;
}

.footer-row h4{
    margin-bottom: 8px;
    color: white;
    font-size: 16pt;
}

.footer-row p{
    color: white;
    font-size: 10pt;
}

.footer-row .col-md-6{
    padding-left: 0;
}

.footer-row .btn-primary{
    width: 60%;
}

.img-ad{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.img-ad:nth-child(1){
    padding-right: 8px !important;
}

.img-ad:nth-child(2){
    padding-left: 8px !important;
}

.footerW{
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
}

.marginT-8{
    margin-top: 8px !important;
}

.marginT-16{
    margin-top: 16px !important;
}

.marginT-32{
    margin-top: 32px !important;
}

.marginR-8{
    margin-right: 8px !important;
}

.marginR-16{
    margin-right: 16px !important;
}

.marginB-8{
    margin-bottom: 8px !important;
}

.marginB-16{
    margin-bottom: 16px !important;
}

.marginB-32{
    margin-bottom: 32px !important;
}

.marginB-8{
    margin-bottom: 8px !important;
}

.btn-card{
    height: 44px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.btn-card-promo{
    height: 44px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.info{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 48px;
    border-bottom: 1px solid;
}

.produto-left{
    padding-left: 0 !important; 
    padding-right: 32px !important;
}

.produto-right{
    padding-left: 32px !important;
}

.input-produto{
    height: 40px;
    padding-left: 16px;
    margin-right: 16px;
}

.btn-buy{
    background-color: #ff6701 !important;
    border: none !important;
    color: white !important;
    width: 228px;
    height: 40px;
}

.btn-cart{
    background-color: #ff6701 !important;
    border: none !important;
    color: white !important;
    padding: 0 !important;
    height: 40px;
    width: 40px;
}

.sec-info{
    height: auto;
}

.sec-desc{
    height: auto;
}

.dropdown-menu{
    transform: translate3d(0px, 56px, 0px) !important;
}

.options-left{
    position: absolute;
    top: 20vh;
    height: 60vh;
    width: 72px;
    background-color: white;
    z-index: 999;
    cursor: pointer;
}

.options-left-ex{
    position: absolute;
    top: 20vh;
    left: 0px;
    height: 60vh;
    width: 72px;
    background-color: white;
    transition: all .5s;
}

.ops-left{
    width: 100%;
}

.perfil{
    height: 60vh;
}

@media only screen and (max-width: 995px){
    .navbar-brand:nth-child(3){
        display: none !important;
    }
    .navbar-brand:nth-child(4){
        display: none !important;
    }

    .busca input{
        width: 384px;
    }

    .menu-mobile{
        display: block;
    }
}


@media only screen and (max-width: 1400px){    
    .sec-promo .card{
        width: 456px !important;
    }

}

@media only screen and (max-width: 1200px){    
    .sec-promo .card{
        width: 360px !important;
    }
}

@media only screen and (max-width: 992px){    
    .sec-promo .card{
        width: 280px !important;
    }
}

@media only screen and (max-width: 770px){
    .busca input{
        width: 304px;
    }

    .sec-promo .card{
        width: 100% !important;
        margin-right: 0 !important;
    }

    .sec-ad .col-md-6:last-child{
        display: none !important;
    }

    .ops:last-child{
        display: none !important;
    }
}

@media only screen and (max-width: 500px){
    .busca input{
        width: 244px;
    }
}

@media only screen and (max-width: 400px){
    .busca input{
        width: 196px;
    }
}